<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Big data </title>
    <!-- echart-->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript"
            src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript"
            src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <!-- Bootstrap -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendor/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'vendor/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="{% static 'vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="{% static 'polygon/custom.min.css' %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body class="nav-md">

<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/" class="site_title">
                        <!--侧栏顶部图标-->
                        <!--<i class="fa fa-paw"></i> -->
                        <span>Back Home</span></a>
                </div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <!-- 用户头像-->
                    <div class="profile_pic">
                        <!--<img src="images/img.jpg" alt="..." class="img-circle profile_img">-->
                    </div>
                    <!--/用户头像-->
                    <div class="profile_info">
                        <!--<span>Detecon</span>-->
                        <!--<h2>Big data</h2>-->
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <!--<h3>Case</h3>-->
                        <ul class="nav side-menu">
                            <!--侧栏菜单-->
                            <li><a><i class="fa fa-bar-chart-o"></i> Business Case <span
                                    class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="auto_page.html">Product Index Analysis <br>机型指标分析</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav ">
            <!-- 右上角用户栏-->
            <div class="nav_menu ">
                <nav>
                    <div class="nav toggle ">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </nav>
            </div>
            <!--/右上角用户栏-->
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!--select tiles-->
            <div class="col-lg-13 ">
                <form method="get">
                    <div class="form-group ">
                        <select class="form-control" id="citytier">
                            <option selected="selected">全国</option>
                            <option>一线</option>
                            <option>二线</option>
                            <option>三线</option>
                            <option>四线</option>
                        </select>
                    </div>

                </form>
            </div>
            <!-- /select tiles-->

            <!--接收数据库返回信息-->
            <script type="text/javascript">

            $(function(){
            <!--车型选择更改-->
                $("#sel1").change(function(){
                    var citytier = $("#citytier").val();
                    var price = $("#price").val();
                    var array1 = [citytier,price]
                    var json_array1 = JSON.stringify(array1);
                    console.log(json_array1)
                    <!--LV2数据-->
                    $.getJSON('{% url 'carEchartPage' %}',{'a':json_array1}, function(ret){
                        drawLv2(ret.page_2_lv2);
                    });
                });

            <!--维度选择更改-->
                $("#selDim").change(function(){
                    var citytier = $("#citytier").val();
                    var price = $("#price").val();
                    var array1 = [citytier,price]
                    var json_array1 = JSON.stringify(array1);
                    console.log(json_array1)
                    $.getJSON('{% url 'carEchartPage' %}',{'a':json_array1}, function(ret){
                        drawLv2(ret.page_2_lv2);
                        });
                });

            <!--页面初始化加载图表-->
                var citytier = $("#citytier").val();
                var price = $("#price").val();
                var array1 = [citytier,price]
                var json_array1 = JSON.stringify(array1);
                console.log(json_array1)
                $.getJSON('{% url 'carEchartPage' %}',{'a':json_array1}, function(ret){
                    drawLv2(ret.page_2_lv2);
                });
                var json_array1 = JSON.stringify("全国");
                $.getJSON('{% url 'carEchartPage' %}',{'a':json_array1}, function(ret){
                    drawLv1(ret.page_2_lv1);
                });
            });

            </script>
            <!--/接收数据库返回信息-->

            <!-- 图表行-->

            <div class="row">
                <!-- 一二级指标行 -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <h3>Index Evaluation/指标评价</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- 一级指标图框-->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <!-- 标题-->
                            <div class="col-md-6">
                                <h2>Level-1 Index Evaluation<br>一级指标评价</h2>
                                <!-- 价格段选择按钮 -->
                                <form method="get">
                                    <div class="form-group">
                                        <select multiple class="form-control" id="price">
                                            <option selected="selected"><1500</option>
                                            <option>1500-2500</option>
                                            <option>2500-3500</option>
                                            <option>>3500</option>
                                        </select>
                                    </div>
                                </form>
                                <!--/价格段选择按钮 -->

                            </div>


                            <!--/标题-->
                            <!-- chart_lv1-->
                            <div id="line_3_lv1" style="width: 100%;height:300%;">
                                <script type="text/javascript">

                                function drawLv1(test_list){
                                var dom = document.getElementById("container");
                                var drawLv1 = echarts.init(document.getElementById('line_3_lv1'));
                                var app = {};
                                option = null;

                                <!--为实现动态进行得分赋值-->
                                var sxAxis=[]=test_list[9];
                                var _6Q2=[]=test_list[0];
                                var _6Q3 =[]=test_list[1];
                                var _6Q4=[]=test_list[2];
                                var _7Q1=[]=test_list[3];
                                var _7Q2=[]=test_list[4];
                                var _7Q3=[]=test_list[5];
                                var _7Q4=[]=test_list[6];
                                var _81=[]=test_list[7];
                                var _82=[]=test_list[8];

                                var posList = [
                                    'left', 'right', 'top', 'bottom',
                                    'inside',
                                    'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
                                    'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
                                ];

                                app.configParameters = {
                                    rotate: {
                                        min: -90,
                                        max: 90
                                    },
                                    align: {
                                        options: {
                                            left: 'left',
                                            center: 'center',
                                            right: 'right'
                                        }
                                    },
                                    verticalAlign: {
                                        options: {
                                            top: 'top',
                                            middle: 'middle',
                                            bottom: 'bottom'
                                        }
                                    },
                                    position: {
                                        options: echarts.util.reduce(posList, function (map, pos) {
                                            map[pos] = pos;
                                            return map;
                                        }, {})
                                    },
                                    distance: {
                                        min: 0,
                                        max: 100
                                    }
                                };

                                app.config = {
                                    rotate: 90,
                                    align: 'left',
                                    verticalAlign: 'middle',
                                    position: 'insideBottom',
                                    distance: 15,
                                    onChange: function () {
                                        var labelOption = {
                                            normal: {
                                                rotate: app.config.rotate,
                                                align: app.config.align,
                                                verticalAlign: app.config.verticalAlign,
                                                position: app.config.position,
                                                distance: app.config.distance
                                            }
                                        };
                                        drawLv1.setOption({
                                            series: [{
                                                label: labelOption
                                            }, {
                                                label: labelOption
                                            }, {
                                                label: labelOption
                                            }, {
                                                label: labelOption
                                            }]
                                        });
                                    }
                                };


                                var labelOption = {
                                    normal: {
                                        show: false,
                                        position: app.config.position,
                                        distance: app.config.distance,
                                        align: app.config.align,
                                        verticalAlign: app.config.verticalAlign,
                                        rotate: app.config.rotate,
                                        formatter: '{c}  {name|{a}}',
                                        fontSize: 16,
                                        rich: {
                                            name: {
                                                textBorderColor: '#fff'
                                            }
                                        }
                                    }
                                };

                                option = {
                                    color: ['#003366', '#006699', '#4cabce', '#e5323e', '#319ae5', '#e5c131', '#ad96b5', '#0c5259'],
                                    tooltip: {
                                        trigger: 'axis',
                                        axisPointer: {
                                            type: 'shadow'
                                        }
                                    },
                                    legend: {
                                        <!--图例-->
                                        data: [
                                            sxAxis[0],
                                            sxAxis[1],
                                            sxAxis[2],
                                            sxAxis[3],
                                            sxAxis[4],
                                            sxAxis[5],
                                            sxAxis[6],
                                            sxAxis[7]
                                        ],
                                    },
                                    toolbox: {
                                        show: true,
                                        orient: 'vertical',
                                        left: 'right',
                                        top: 'center',
                                        feature: {
                                            mark: {show: true},
                                            dataView: {show: true, readOnly: false},
                                            magicType: {show: true, type: ['line', 'bar']},
                                            restore: {show: true},
                                            saveAsImage: {show: true}
                                        }
                                    },
                                    calculable: true,
                                    xAxis: [
                                        {
                                            type: 'category',
                                            axisTick: {show: false},
                                            data: ['2016Q2','2016Q3','2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4', '201801', '201802'],
                                            <!--data: ['Comfort','Controllability','Cost performance', 'Exterior', 'Fuel Consumption', 'Interior', 'Power', 'Space'],-->
                                            axisLabel:{
                                              rotate:-20, //刻度旋转45度角
                                              interval:0
                                            }
                                        }
                                    ],
                                    yAxis: [
                                        {
                                            type: 'value',
                                            min: 3,
                                            max: 5
                                        }
                                    ],


                                    series: [
                                        {
                                            name: sxAxis[0],
                                            type: 'line',
                                            barGap: 0,
                                            label: labelOption,
                                            data: _6Q2
                                        },
                                        {
                                            name: sxAxis[1],
                                            type: 'line',
                                            label: labelOption,
                                            data: _6Q3
                                        },
                                        {
                                            name: sxAxis[2],
                                            type: 'line',
                                            label: labelOption,
                                            data: _6Q4
                                        },
                                        {
                                            name: sxAxis[3],
                                            type: 'line',
                                            label: labelOption,
                                            data: _7Q1
                                        },
                                        {
                                            name: sxAxis[4],
                                            type: 'line',
                                            label: labelOption,
                                            data: _7Q2
                                        },
                                        {
                                            name: sxAxis[5],
                                            type: 'line',
                                            label: labelOption,
                                            data: _7Q3
                                        },
                                        {
                                            name: sxAxis[6],
                                            type: 'line',
                                            label: labelOption,
                                            data: _7Q4
                                        },
                                        {
                                            name: sxAxis[7],
                                            type: 'line',
                                            label: labelOption,
                                            data: _81
                                        },
                                        {
                                            name: sxAxis[7],
                                            type: 'line',
                                            label: labelOption,
                                            data: _82
                                        }
                                    ]
                                };

                                drawLv1.setOption(option);
                                }

                                </script>
                            </div>
                            <!--/chart_lv1-->
                        </div>
                    </div>
                    <!--/一级指标图框-->

                    <!-- 二级指标图框-->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!-- 标题+按钮框（内包含Lv2图框）-->
                        <div class="x_panel">
                            <!-- 标题+按钮-->
                            <div class="col-md-6">
                                <h2>Level-2 Index Evaluation<br>二级指标评价</h2>
                                <!-- 维度选择按钮 -->
                                <form method="get">
                                    <div class="form-group">
                                        <!--<h4><label for="selDim">Select Dimension</label></h4>-->
                                        <select class="form-control" id="selDim">
                                            <option selected="selected">空间</option>
                                            <option>操控</option>
                                            <option>舒适</option>
                                            <option>动力</option>
                                            <option>油耗</option>
                                            <option>内饰</option>

                                        </select>
                                    </div>
                                </form>
                                <!--/维度选择按钮 -->
                            </div>
                            <!--/标题+按钮-->

                            <!-- Lv2图框-->
                            <div class="x_content">
                                <!-- chart_lv2-->
                                <div id="line_3_lv2" style="width: 100%;height:245%;">
                                    <script type="text/javascript">
                                    function drawLv2(test_list){
                                    var dom = document.getElementById("container");
                                    var drawLv2 = echarts.init(document.getElementById('line_3_lv2'));
                                    var app = {};
                                    var emotion = test_list[0]

                                    option = {

                                        tooltip : {
                                            trigger: 'axis',
                                            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                            }
                                        },
                                        legend: {
                                            data: [emotion[1],emotion[2],emotion[3]]
                                        },
                                        toolbox: {
                                            show : true,
                                            feature : {
                                                dataView : {show: true, readOnly: false},
                                                saveAsImage : {show: true}
                                            }
                                        },
                                        grid: {
                                            left: '3%',
                                            right: '4%',
                                            bottom: '3%',
                                            containLabel: true
                                        },
                                        xAxis:  {
                                            type: 'value'
                                        },
                                        yAxis: {
                                            type: 'category',
                                            data: [test_list[1][0],test_list[2][0],test_list[3][0],test_list[4][0],test_list[5][0],test_list[6][0],test_list[7][0],test_list[8][0],test_list[9][0]]
                                        },
                                        series: [
                                            <!--满意-->
                                            {
                                                name: emotion[1],
                                                type: 'bar',
                                                stack: '总量',
                                                label: {
                                                    normal: {
                                                        <!--show: true,-->
                                                        position: 'insideRight'
                                                    }
                                                },
                                                data: [test_list[1][1],test_list[2][1],test_list[3][1],test_list[4][1],test_list[5][1],test_list[6][1],test_list[7][1],test_list[8][1],test_list[9][1]]
                                            },
                                            <!--没感觉-->
                                            {
                                                name: emotion[2],
                                                type: 'bar',
                                                stack: '总量',
                                                label: {
                                                    normal: {
                                                        <!--show: true,-->
                                                        position: 'insideRight'
                                                    }
                                                },
                                                data: [test_list[1][2],test_list[2][2],test_list[3][2],test_list[4][2],test_list[5][2],test_list[6][2],test_list[7][2],test_list[8][2],test_list[9][2]]
                                            },
                                            <!--不满意-->
                                            {
                                                name: emotion[3],
                                                type: 'bar',
                                                stack: '总量',
                                                label: {
                                                    normal: {
                                                        <!--show: true,-->
                                                        position: 'insideRight'
                                                    }
                                                },
                                                data: [test_list[1][3],test_list[2][3],test_list[3][3],test_list[4][3],test_list[5][3],test_list[6][3],test_list[7][3],test_list[8][3],test_list[9][3]]
                                            }
                                        ]
                                    };

                                    drawLv2.setOption(option, true);

                                    }



                                    </script>
                                </div>
                                <!--/chart_lv2-->
                            </div>
                            <!--/Lv2图框-->
                        </div>
                        <!--/标题+按钮框（内包含Lv2图框）-->
                    </div>
                    <!--/二级指标图框-->
                </div>
                <br/>
                <!--/一二级指标行 -->

                <!--/图表行-->

            </div>
            <!-- end of weather widget -->

        </div>
    </div>
</div>


<!-- footer content  -->
<footer>
    <div class="pull-right">
        Big Data - <a href="/">Home</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->


<!-- jQuery -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'vendor/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'vendor/nprogress/nprogress.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'vendor/icheck/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'vendor/skycons/skycons.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'vendor/jqvmap/dist/jquery.vmap.js' %}"></script>
<script src="{% static 'vendor/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'vendor/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<!-- Custom Theme Scripts -->
<script src="{% static 'polygon/custom.min.js' %}"></script>

</body>
</html>
